<div class="form-group">
  <label for="{{ id }}" class="form-group__label">{{ label }}</label>
  {% include "@atoms/input/input.twig" with {
    type: type,
    name: name,
    id: id,
    placeholder: placeholder,
    size: size,
    disabled: disabled
  } %}
  {% if error %}
    <p class="form-group__error">{{ error }}</p>
  {% endif %}
</div>
